<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>BeatCorona</title>
	<link rel="icon" href="{% static 'images/cart.png' %}" type="image/icon type">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- <link id='mycss' rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->

	<link id='mycss' rel="stylesheet" type="text/css" href="../../static/css/main_dark.css">


	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)

		var settheme = localStorage.getItem('theme')
		console.log(settheme)
		if (settheme==null){
			swapMode('css/main.css')
		}
		else{
			swapMode(settheme)
		}

		function swapMode(sheet){
			// console.log("hello"+sheet)
			// var new_sheet="http://127.0.0.1:8000/static/css/"+sheet+".css";
			var new_sheet="../../static/"+sheet
			console.log(new_sheet)
			document.getElementById('mycss').href=new_sheet;
			localStorage.setItem('theme',sheet);
		}

		
		// console.log(playIcon.src)
		window.addEventListener('load', function(){
			// var playIcon = document.getElementById("song");
            var myAudio = document.getElementById("myAudio");
            // console.log(playIcon.src)
            myAudio.onplaying = function() {
              isPlaying = true;
            };
            myAudio.onpause = function() {
              isPlaying = false;
            };
        });
        
        var isPlaying = false;
        
        function togglePlay() {
            if (isPlaying) {
                myAudio.pause()
            } 
			else {
                myAudio.play();
            }
        }
		
	</script>

</head>
<body>

	
	<nav class="navbar navbar-expand-lg  sticky-top bg-dark" >
		<!-- <img src="images/corona.jpg" style="height:10%;width:50px;"> -->
	  <a class="navbar-brand nav-text" href="{% url 'store' %}" >BeatCorona</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <!-- <li class="nav-item active">
	        <a class="nav-link nav-text" href="{% url 'store' %}" style=" margin: 15px;" > Store <span class="sr-only">(current)</span></a>
		  </li> -->
		  
		  <li class="nav-item active">
		  	<button class='nav-link nav-text' onclick="swapMode('css/main_dark.css')" style="background-color: transparent; border:none; outline: none; margin: 23px;">Dark Mode<span class="sr-only">(current)</span></button>
		  </li> 
		  <li class="nav-item active">
		  	<button class='nav-link nav-text' onclick="swapMode('css/main.css')" style="background-color: transparent; border:none; outline: none; margin: 23px;">Light Mode</button>
		  </li>
		  <!-- <text id='mode' style="background-color: transparent; outline: none; margin: 10px;">Dark Mode</text> -->

		</ul>

	    <div class="form-inline my-2 my-lg-0">
			 <!-- <a href="#"class="btn btn-warning">Login</a> -->
			 
	    	<audio loop id="myAudio" src="/static/audio/savage-love.mp3" preload="auto"></audio>
			<a onclick="togglePlay()">
				<img  id="song" src="{% static 'images/play.png' %}">
			</a>
			

	     	<a href="{% url 'cart' %}">
	    		<img  id="cart-icon" src="{% static 'images/cart.png' %}">
	    	</a>
	    	<p id="cart-total">{{cartItems}}</p>

	    </div>
	  </div>
	</nav>






     <!-- <div class="container"> -->

            
            {% block content %}


            {% endblock content %}
						<footer class="text-gray-700 body-font" style="position: absolute; width: 100%;">
						  <div class="container px-5 py-24 mx-auto">




						    </div>
						  </div>
						  <div class="border-t border-gray-200">
						    <div class="container px-5 py-8 flex flex-wrap mx-auto items-center">

						      <span class="inline-flex lg:ml-auto lg:mt-0 mt-6 w-full justify-center md:justify-start md:w-auto">
						        <a class="text-gray-500">
						          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
						            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
						          </svg>
						        </a>
						        <a class="ml-3 text-gray-500">
						          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
						            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
						          </svg>
						        </a>
						        <a class="ml-3 text-gray-500">
						          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
						            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
						            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
						          </svg>
						        </a>
						        <a class="ml-3 text-gray-500">
						          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
						            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
						            <circle cx="4" cy="4" r="2" stroke="none"></circle>
						          </svg>
						        </a>
						      </span>
						    </div>
						  </div>
						  <div class="bg-gray-200">
						    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
						      <p class="text-gray-500 text-sm text-center sm:text-left">© 2020 beatcorona —
						        <a href="https://www.linkedin.com/in/prabhpreet-singh-1601/" class="text-gray-600 ml-1" target="_blank" rel="noopener noreferrer">@Prabhpreet</a>
						      </p>
						      <span class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-gray-500 text-sm">Made with Love for your Protection</span>
						    </div>
						  </div>
						</footer>
      <!-- </div> -->









	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

</body>
</html>
