{% extends 'store/main.html' %}
{% load static %}
{% block content %}
		<div class="row">
		{% for product in products %}

		<div class="col-lg-4 col-md-offset-2" style="background-color:#011b33" >
			<div class="card grow brighten w-100" Style="height: 100%"">
			  <img class="thumbnail" src="{{product.imageURL}}">
			  <div class="card-body box-element product">
			    <h5><strong>{{product.name}}</strong></h5>
			    <p class="card-text">{{product.info}}</p>
					<button  data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

					<a class="btn btn-outline-success" href="#">View</a>
					<h4 style="display: inline-block; float: right"><strong>₹{{product.price|floatformat:2}}</strong></h4>

			  </div>
			</div>

		</div>
		{% endfor %}
	</div>

{% endblock content %}
